.comment-list {
  display: grid;
  @include adaptiveValue('column-gap', 40, 20);
  @include adaptiveValue('row-gap', 40, 20);
  grid-template-columns: repeat(auto-fill, minmax(toRem(280), 1fr));
  // .comment-list__item
  &__item {
    display: flex;
    flex-direction: column;
    @include adaptiveValue('padding', 20, 12);
    border-radius: toRem(8);
    border: toRem(1) solid var(--blue-100);
  }
  // .comment-list__name
  &__name {
    &::first-letter {
      text-transform: uppercase;
    }
    &:not(:last-child) {
      margin-bottom: toRem(20);
    }
  }
  // .comment-list__email
  &__email {
    &:not(:last-child) {
      margin-bottom: toRem(32);
    }
  }
  // .comment-list__body
  &__body {
    &::first-letter {
      text-transform: uppercase;
    }
    &:not(:last-child) {
      margin-bottom: toRem(24);
    }
  }
}
