.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--blue-glass) ;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  z-index: 2;
  backdrop-filter: blur(8px);
  // .header__container
  &__container {
    padding-top: toRem(10);
    padding-bottom: toRem(10);
    min-height: toRem(60);
    display: flex;
    align-items: center;
  }
  // .header__nav
  &__nav {
  }

}
.nav {
  // .nav__link
  &__link {
    display: inline-block;
    position: relative;
    font-weight: 700;
    transition: color 0.3s;
    &::before {
      content: '';
      position: absolute;
      width: 0;
      height: toRem(1);
      bottom: 0;
      background-color: var(--text-primary);
      transition: width 0.3s;
    }
    @media (any-hover: hover) {
      &:hover {
        &::before {
          right: 0;
          width: 100%;
        }
      }
    }
  }
}
