// ===============
// colors palette
// ===============
:root {
  // Background colors :
  // =================================================================
  --bg-primary: #0B3866;  
  --bg-secondary: #F5FAFF;  

  --blue-25: #F5FAFF;  
  --blue-50: #E8F3FF;  
  --blue-100: #D1E8FF;  
  --blue-200: #A4D1FF;  
  --blue-300: #76BAFF;  
  --blue-400: #49A3FF;  
  --blue-500: #1B8CFF;  
  --blue-600: #1670CC;  
  --blue-700: #105499;  
  --blue-800: #0B3866;
  --blue-900: #051C33;
    
  --gray-25: #FCFCFD;  
  --gray-50: #F9FAFB;  
  --gray-100: #F2F4F7;  
  --gray-200: #EAECF0;  
  --gray-300: #D0D5DD;  
  --gray-400: #98A2B3;  
  --gray-500: #667085;  
  --gray-600: #475467;  
  --gray-700: #344054;  
  --gray-800: #1D2939;
  --gray-900: #101828;

  --success-25: #F6FEF9;  
  --success-50: #ECFDF3;  
  --success-100: #D1FADF;  
  --success-200: #A6F4C5;  
  --success-300: #6CE9A6;  
  --success-400: #32D583;  
  --success-500: #12B76A;  
  --success-600: #039855;  
  --success-700: #027A48;  
  --success-800: #05603A;
  --success-900: #054F31;

  --warning-25: #FFFCF5;  
  --warning-50: #FFFAEB;  
  --warning-100: #FEF0C7;  
  --warning-200: #FEDF89;  
  --warning-300: #FEC84B;  
  --warning-400: #FDB022;  
  --warning-500: #F79009;  
  --warning-600: #DC6803;  
  --warning-700: #B54708;  
  --warning-800: #93370D;
  --warning-900: #7A2E0E;

  --Error-25: #FFFBFA;  
  --Error-50: #FEF3F2;  
  --Error-100: #FEE4E2;  
  --Error-200: #FECDCA;  
  --Error-300: #FDA29B;  
  --Error-400: #F97066;  
  --Error-500: #F04438;  
  --Error-600: #D92D20;  
  --Error-700: #B42318;  
  --Error-800: #912018;
  --Error-900: #7A271A;


  // Text colors :
  // =================================================================
  --text-primary: #F5FAFF; 
  // --text-secondary: #ffffff; 

}
