.users {
  // .users__container
  &__container {
    padding-top: toRem(100);
    padding-bottom: toRem(60);
  }
  // .users__title
  &__title {
  }
  // .users__controls
  &__controls {
    display: flex;
    justify-content: space-between;
    column-gap: toRem(30);
    row-gap: toRem(15);
    &:not(:last-child) {
      margin-bottom: toRem(20);
    }
    @media (max-width: $mobileSmall) {
      flex-direction: column;
    }
  }
}
